html, body {
    background-color: #7adb83;
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

header {
    font-size: 2em;
}

.navbar-static-top .navbar-inner  {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f89406;
}

#pageContent {
    height: auto;
    min-height: 400px;
    margin: 60px auto;
    text-align: center;
}

.box {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: linear-gradient(to top, #ffffff, #f2f2f2);
    padding:30px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.drop-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.btn-maxi-large {
    padding: 24px 18px;
    font-size: 44px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navbar .navbar-inner {
    padding: 10px 0;
}

#push, footer {
    height: 60px;
}

footer {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: linear-gradient(to top, #ffffff, #f2f2f2);
}

footer .credit {
    text-align: center;
    line-height: 60px;
    margin: 0;
}

/* CSS PARTIAL MAIN_VIEW */

#smwApp {
    /*    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);*/
    height: 530px;
    clear: both;
    position: relative;
    padding: 2%;
}

#smwApp #steps {
    width: 78%;
    height: 100%;
    float: left;
    border-right:5px solid #7adb83;

}


#smwApp #next_steps {
    width: 20%;
    height: 100%;
    float: right;
}

#smwApp div {  


} 

div.break {
    background-color:#7adb83;
}

div.hard {
    background-color:#f89406;
}

.pics2 div {   
    width:  100%; 
    height: 100%; 
    top:  0; 
    left: 0 ;
    text-align:center;
    padding-top:20%;
}

.picsStyle .title {
    height: 10%;
    line-height: 100%;
    text-align:center;
    color:#f89406;
    font-weight:bold;
}

.picsStyle .img {
    width: 30%;
    max-width: 200px;
}

.picsStyle .timeLap {
    font-size: 5vw;
    margin:15%;
    line-height:100%;
    color:#f89406;
    position: absolute;
}


.currentExercise {
    
}

.currentExercise .step {
    width: 100%;
    height: 100%;
}

.currentExercise .step .title {
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    color: #f89406;
}
.currentExercise .desc {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    line-height: 200px;
    margin-top: 135px;
}

.currentExercise .desc.pull-left {
    margin-left: 25%;
}

.currentExercise .desc.pull-right {
    margin-right: 25%;
}

.currentExercise .step .img {
}

.currentExercise .step .timeLap {
    color: #f89406;
    font-size: 100px;
}


/* FIN CSS PARTIAL MAIN_VIEW */

/* CSS TIMELINE */

#timeline{
    width:100%;
    margin:auto;
    height:50px;
    position:relative;
}

.emptyBar{
    position:absolute;
    left:0;
    top:15px;
    background-color:lightgrey;
    height:8px;
    width:100%;
    border: 1px solid black;
}

.fullBar{
    position:absolute;
    left:0;
    top:15px;
    width:0px;
    background-color:white;
    height:8px;
    border:1px solid black;
    opacity:0.50;
}

.timing {
    position:absolute;
    left:0px;
    top:35px;
    font-weight:bold;
}

.stepBox {
    height:8px;
    float:left;
    opacity:1;
    border-right:1px solid black;
}

.node {
    background-image: url("../img/node.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    padding: 0;
    top: 7px;
    right: -13px;
    position: absolute;
    z-index: 2;
}

.cursor {
    position: absolute;
    top: 25px;
    left: -7px;
    /*background-image: url("../img/fleche.png");*/
}
.node.active {
    background-image: url("../img/node_active.png");  

}

.node.inactive {
    background-image: url("../img/node.png");  
}

/* FIN CSS TIMELINE */



/* DEBUT CSS EXERCISE */
.exercise {
    text-align: left;
    overflow: hidden;
}

.exercise .exerciseTitle {
    font-size: 3em;
}

.exercise .exercisePicture.pull-right {
    margin: 0 50px;
}

.exercise .exercisePicture.pull-left {
    margin: 0 50px;
}

.exercises hr.exerciseSeparator {
    margin: 80px 0;
}
/* FIN CSS EXERCISE */

/* Custom Responsive values */
/* Based on Twitter Bootstrap responsive media queries */
/* Large desktop */
@media (min-width: 1200px) {
    
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
}
