html, body {
    background-color: white;
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

header {
    font-size: 2em;
}

#pageContent {
    margin: 60px auto;
    text-align: center;
    
}

.navbar .navbar-inner {
    padding: 10px 0;
}

#push, footer {
    height: 60px;
}

footer {
    box-shadow: inset 0 12px 20px -10px rgba(0, 0, 0, 0.3);
    background-color: darkorange;
    
}

footer .credit {
    text-align: center;
    line-height: 60px;
}

/* CSS PARTIAL MAIN_VIEW */




/* FIN CSS PARTIAL MAIN_VIEW */
