html, body {
    background-color: #7adb83;
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

header {
    font-size: 2em;
}

.navbar-static-top .navbar-inner  {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f89406;
}

#pageContent {
    height: auto;
    min-height: 400px;
    margin: 60px auto;
    text-align: center;
}

.box {
    background-color: white;
    padding:30px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.drop-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.btn-maxi-large {
    padding: 24px 18px;
    font-size: 44px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.navbar .navbar-inner {
    padding: 10px 0;
}

#push, footer {
    height: 60px;
}

footer {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(bottom, #ffffff, #f2f2f2);
    background-image: linear-gradient(to top, #ffffff, #f2f2f2);
}

footer .credit {
    text-align: center;
    line-height: 60px;
    margin: 0;
}

/* CSS PARTIAL MAIN_VIEW */

#smwApp{
    background: lightgray;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    height: 400px;
    clear: both;
}

#smwApp #steps{
    width: 80%;
    height: 100%;
    float: left;
}


#smwApp #next_steps{
    width: 20%;
    height: 100%;
    float: right;
}

#smwApp div {  
    font-size:20px;
    line-height:100%;
    text-align:center;
} 

/* FIN CSS PARTIAL MAIN_VIEW */

/* DEBUT CSS EXERCISE */
.exercise {
    text-align: left;
    overflow: hidden;
}

.exercise .exerciseTitle {
    font-size: 3em;
}

.exercise .exercisePicture.pull-right {
    margin-right: 50px;
}

.exercise .exercisePicture.pull-left {
    margin: 0 50px;
}

.exercises hr.exerciseSeparator {
    margin: 80px 0;
}
/* FIN CSS EXERCISE */

