html, body {
    background-color: white;
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px;
}

header {
    font-size: 2em;
}

#pageContent {
    margin: 60px auto;
    text-align: center;
    
}

.navbar .navbar-inner {
    padding: 10px 0;
}

#push, footer {
    height: 60px;
}

footer {
    /*box-shadow: inset 0 12px 20px -10px rgba(0, 0, 0, 0.3);*/
    background-color: darkorange;
    
}

footer .credit {
    text-align: center;
    line-height: 60px;
}

/* CSS PARTIAL MAIN_VIEW */

#main_view_div{
margin:auto;
width:70%;
height:70%;
border:5px solid black;  

}

#main_view_div #steps{
    width:80%;
    height:100%;
    float:left;

}


#main_view_div #next_steps{
    width:19%;
    height:100%;
    float:left;

}

.pics {  
    height:  100%;  
    width:   100%;  
    padding: 0;  
    margin:  0;  
} 

.pics2{
        border-left:10px solid black;
}
 
.pics div {  
    padding: px;  
    width:  100%; 
    height: 100%; 
    top:  0; 
    left: 0 ;
    font-size:10em;
    line-height:100%;
    padding-top:20%;
    text-align:center;

} 

div.break{
    background-color:lightblue;
}

div.hard{
    background-color:red;
}

.pics2 div {   
    width:  100%; 
    height: 100%; 
    top:  0; 
    left: 0 ;
    font-size:4em;
    text-align:center;
    background-color:lightgray;
    padding-top:20%;

} 
.pics div.red{
    background-color:red;
}

.pics div.blue{
    background-color:blue;
}

.pics div.green{
    background-color:green;
}
/* FIN CSS PARTIAL MAIN_VIEW */

/* CSS TIMELINE */

#timeline{
    width:70%;
    margin:auto;
    height:50px;
    background-color:white;
    position:relative;
}

.emptyBar{
    position:absolute;
    left:0;
    top:15px;
    background-color:lightgrey;
    height:8px;
    width:100%;
    border:1px solid black;
}

.fullBar{
    position:absolute;
    left:0;
    top:15px;
    width:0px;
    background-color:white;
    height:8px;
    border:1px solid black;
    opacity:0.50;
}

.timing{
    position:absolute;
    left:0px;
    top:35px;
    font-weight:bold;
}

.box{
    height:8px;
    float:left;
    opacity:1;
    border-right:1px solid black;
}
.node{
  background-image: url("../img/node.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  padding: 0;
  top:7px;
  left:100%;
  position:absolute;
  z-index:2;
}

.cursor{
    position:absolute;
    top:25px;
    left:-7px;
    /*background-image: url("../img/fleche.png");*/
}
.node.active{
        background-image: url("../img/node_active.png");  

}

.node.inactive{
    background-image: url("../img/node.png");  
}

/* FIN CSS TIMELINE */