<div class="container">
    <div class="box drop-shadow relative">
        <h1>Congratulation!</h1>
        <div class="socialWrapper">
            <div class="twitterWrapper">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://7minworkout.net" data-text="Just trained for 7 minutes with" data-size="large" data-hashtags="7MinWorkout">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="fbWrapper">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    console.log("FB SCRIPT");
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script><div class="fb-like" data-href="https://www.facebook.com/7minworkout.net" data-send="true" data-width="450" data-show-faces="false" data-font="verdana"></div>
            </div>
        </div>
        <p class="lead"><br>Don't forget that you won't get results if you are not doing this 7MinWorkout every day !</p>
        <p>
            <a href="/" class="btn btn-primary btn-large btn-warning">Do it Again !</a>
        </p>
    </div>
</div>
<script> console.log("héhéh");</script>
