<div class="container">
    <div class="box drop-shadow relative">
        <h1>Congratulation!</h1>
        <div class="socialWrapper">
            <div class="twitterWrapper">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://7minworkout.net" data-text="Just trained for 7 minutes with" data-size="large" data-hashtags="7MinWorkout">Tweet</a>

            </div>
            <div class="fbWrapper">
                <div class="fb-like" data-href="https://www.facebook.com/7minworkout.net" data-send="true" data-width="450" data-show-faces="false" data-font="verdana"></div>
            </div>
        </div>
        <p class="lead"><br>Don't forget that you won't get results if you are not doing this 7MinWorkout every day !</p>
        <p>
            <a href="#" class="btn btn-primary btn-large btn-warning">Do it Again !</a>
        </p>
    </div>
</div>
<script>
    $.ajax({url: 'http://platform.twitter.com/widgets.js', dataType: 'script', cache: true});
    FB.XFBML.parse();
    $("#headerSocialWrapper").fadeOut();
</script>
