<div class="container">
    <div class="box drop-shadow exercises">
        <p class="lead">Exercises are performed for 30 seconds, with 10 seconds of transition time between bouts. Total time for the entire circuit workout is approximately 7 minutes. The circuit can be repeated 2 to 3 times.</p>
        <hr class="exerciseSeparator">
        <div data-ng-repeat="exercise in exercises">
            <div  class="exercise">
                <img class="exercisePicture" ng-class-odd="'pull-right'" ng-class-even="'pull-left'" data-ng-src="{{exercise.picture}}"/>
                <h2 class="exerciseTitle">{{exercise.name}}</h2>
                <p class="lead">{{exercise.description}}</p> 
            </div>
            <hr class="exerciseSeparator">
        </div>
        <a class="btn btn-maxi-large btn-warning" href="#/smw">Start Now !</a>
    </div>

</div>
