<div class="container box drop-shadow" data-ng-controller="WhatIsThisCtrl" data-ng-switch="locale.getLocale()">
    <div class="lead" data-ng-switch-when="fr-fr">
        <p><strong>7 MinWorkOut</strong> est un programme sportif de remise en forme mis au point par des scientifiques de l'Université McMaster d'Hamilton dans l'Ontario. Un programme de 7 minutes qui serait équivalent à 1 heure de course ou de vélo selon <a href="http://well.blogs.nytimes.com/2013/05/09/the-scientific-7-minute-workout/" target="Etude" >l'étude</a>.
        </p>
        <hr>
        <p>
            Ce site est coach virtuel pour vous aider à suivre une <strong>séance sportive de seulement 7 minutes</strong>, en vous indiquant les exercices à effectuer ainsi que les pauses de récupération à prendre entre chacun d'entre eux. La séance étant rapide, il est conseillé de consulter la liste des exercices avance de commencer votre première session. Ainsi vous saurez à quoi vous attendre.
        </p>
        <hr>
        <p>
            <strong>Bonne séance avec votre coach sur 7MinWorkout.net !</strong>
        </p>
    </div>
    <div class="lead" data-ng-switch-default>
        <p>
            <strong>7 MinWorkOut</strong> is a sportive schedule of fitness built by Hamilton's McMaster university in Ontario. A 7 minutes schedule as effective as 1 hour of jogging or biking according to the <a href="http://well.blogs.nytimes.com/2013/05/09/the-scientific-7-minute-workout/" target="Study">study</a>.
        </p>
        <hr>
        <p>
            This website is a virtual coach to help you following a <strong>7 minutes workout</strong>, giving you informations about exercises to do and the break to take between them. This workout is quick, so please take a look at the exercises list before starting your first session. Then, you will know what to expect.
        </p>
        <hr>
        <p>
            <strong>Good workout with your virtual coach on 7MinWorkout.net !</strong>
        </p>
    </div>
</div>