<div id="smwApp" class="box drop-shadow">
<div id="calque"></div>
    <div id="steps" class="pics picsStyle"> 
        <div id="firstStep" class="">
            <div class="title"></div>
            <img class="img pull-left" src="" width="300" height="300"/>
            <div class="timeLap pull-right"></div>
        </div>
        <div id="secondStep" class="">
            <div class="title"></div>
            <img class="img pull-left" src="" width="300" height="300"/>
            <div class="timeLap pull-right"></div>
        </div>
    </div> 
    <div id="next_steps" class="pics2 picsStyle"> 
        <div id="firstNextStep" class="">
            <div class="title"></div>
            <div class="img pull-left"></div>
            <div class="timeLap pull-right"></div>
        </div>
        <div id="secondNextStep" class=""> 
            <div class="title"></div>
            <div class="img pull-left"></div>
            <div class="timeLap pull-right"></div>
        </div>
    </div>   
    
</div>
<div id="timeline"> 
    <div class="emptyBar"></div>
    <div class="fullBar"></div>
    <div class="timing">0:24</div>
    <div class="node inactive"></div>
    <i class="cursor icon-eject"></i>
</div>
