<div id="smwApp" class="box drop-shadow">
    <div id="beginning">
        <img id="bigLogo" class="logo big" src="img/logo_big.png">
        <a data-l10n-text="general.startBtn" class="btn btn-maxi-large btn-warning launchButton"></a>
        <div class="countdown">
            
        </div>
    </div>
    <div id="calque"></div>
    <div id="steps" class="pics currentExercise"> 
        
        <div id="firstStep" class="step">
            <div class="titleWrapper">            
                <div class="title"></div>
            </div>
            <div class="imgWrapper">
                <img class="img" src="">
            </div>
            <div class="timeLapWrapper">
                <div class="timeLap">30.0</div>
            </div>
        </div>
        <div id="secondStep" class="step">
            <div class="titleWrapper">            
                <div class="title"></div>
            </div>
            <div class="imgWrapper">
                <img class="img" src="">
            </div>
            <div class="timeLapWrapper">
                <div class="timeLap">30.0</div>
            </div>
        </div>
    </div> 
    <div id="next_steps" class="pics2 nextExercise"> 
        <div id="firstNextStep" class="nextStep">
            <div class="nextTitleWrapper">
                <div class="title">Next</div>
            </div>
            <div class="nextImgWrapper">
                <img class="img" src="">
            </div>
            <div class="nextTimeLapWrapper">
                <div class="timeLap"></div>
            </div>
        </div>
        <div id="secondNextStep" class="nextStep">
            <div class="nextTitleWrapper">
                <div class="title">Next</div>
            </div>
            <div class="nextImgWrapper">
                <img class="img" src="">
            </div>
            <div class="nextTimeLapWrapper">
                <div class="timeLap"></div>
            </div>
        </div>
    </div>   
    
</div>
<div id="timeline"> 
    <div class="emptyBar"></div>
    <div class="fullBar"></div>
    <div class="timing">0:00</div>
    <div class="node inactive"></div>
    <i class="cursor icon-eject"></i>
</div>
